*{
    margin: 0;
    background-color: darkgrey;
}
.personaje{
    position: absolute;
    background-color: green;
    height: 5vh;
    width: 3vw;
}
.punto{
    display: none;
    position: absolute;
    background-color: red;
    height: 5vh;
    width: 3vw;
    border-radius: 50%;
}